body{
	margin: 0;
	padding: 0;
	justify-content: center;
	height: 100vh;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: white;
	background-image: url(img/gradient1.jpg);
}
header{
	display: flex;
	justify-content: center;
}

img{
	width: 350px;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around; 
	flex-direction: column;

}
#mapid { 
	height: 480px;
	width: 90%;
}

form{
	display: flex;
	justify-content: space-around;
	width: 550px;
	margin-top: 30px;
}
#erreur{
	color: red;
	width: 200px;
}

input{
	border-radius: 3px;
	border : none;
	margin-top:2px;
}

input[type="text"]{
	padding:5px;
	padding-left: 7px;
	width: 300px;
}

input[type="submit"]{
	background: none;
	border: 1px solid white;
	color: white;
}