body{
	margin: 0;
	padding: 0;
	justify-content: center;
	height: 100vh;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: white;
	background-image: url(img/gradient1.jpg);
}
header{
	font-size: 80px;
	text-align: center;
	padding: 30px;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around; 
	flex-direction: column;

}
#mapid { 
	height: 400px;
	width: 90%;
}
#inputclient{
	display: flex;
	margin: 20px;
	width: 700px;
}
form{
	display: flex;
	justify-content: space-around;
	width: 500px;
}
#erreur{
	color: red;
	width: 200px;
}

input{
	border-radius: 3px;
	border : none;
	margin-top:2px;
}

input[type="text"]{
	padding:5px;
	padding-left: 7px;
}